
<div id="first_div" class="first_div"  >
  <div id="carouselId" class="carousel slide" data-ride="carousel">
    <div id="picDIv" class="picDIv">
    <div id="secend_div" class="carousel-inner secend_div" role="listbox">
        <img ngDraggable id="mainPic" src="{{imgSrc}}" ng-drag="true" (stopped)="onStop($event)">
      <div id="main_div" class="carousel-item active main_div" (click)="moveImgFront()" >
      </div>
      <h4>{{imgTitel}}</h4>
        <p></p>
    </div>
  </div>
  <br>
    <button id="btnEdit" (click)="editPic()" type="button" class="btn btn-success btnDone">Edit</button>
  </div>
  <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev" (click)="moveImg()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" (click)="moveImRight()" href="#carouselId" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="progress progressBar topProgressBar">
    <label for="myBar">Example Range input</label>
    <input type="range" id="myBar" class="progress-bar bg-success slider" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  </div>
  <div  id="div1" class="progress progressBar" ondrop="drop(event)" ondragover="allowDrop(event)">
      <label for="myRgbBar">Example Range input</label>
      <input type="range" id="myRgbBar" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    </div>
