<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-sm-0 col-md-4 margimDiv">
      </div>
      <div class="col-sm-12 col-md-4 midDiv"  >
        <div class="col-sm-12 col-md-12 background" id="picDiv">
              <div class="innerDiv"  >
                <img ngDraggable ng-drag="true" (stopped)="onStop($event)" src="/assets/img/imgPlaceHolder.png" id="mainPic">
              </div>
             <div id='picName' class="innerDivDiv">{{picName}}</div>
      </div>
    </div>
      <div class="col-sm-0 col-md-4 margimDiv">

      </div>
    </div>
    <div class="container inputContainer" id="inputContainer">
    <div class="progress progressBar topProgressBar">
        <label for="myBar">Brightness</label>
        <input type="range" id="myBar" class="progress-bar bg-success slider" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" value="100">
    </div>
    <div  id="div1" class="progress progressBar" ondrop="drop(event)" ondragover="allowDrop(event)">
        <label for="myRgbBar">Size</label>
        <input type="range" id="myRgbBar" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" value="50">
    </div>
    <button id="btnDoneEdit" type="button" class="btn btn-success btnDone" (click)="doneEditing()">Done</button>
    <button id="btnMovePicTofront" type="button" class="btn btn-success btnDone" (click)="btnMovePicTofront()">Press to drag</button>
  </div>
  </div>


  <div class="modal fade mainModelDIv"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a picture</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modelInputDiv">
              <input type="file" name="myImage" accept="image/*" id="myImage"/>
              <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">My Name...</label>
                  <div class="col-sm-10">
                    <input [(ngModel)]="picName" type="text" class="form-control" id="inputNamePic" placeholder="Who is in the picture?">
                  </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="previewFile(inputImage)" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
