.first_div {
  text-align: center;
}

.main_div {
  height: 50vh;
  text-align: center;
}

.main_div img {
  height: 95%;
  width: 59%;
}

.main_div h4 {
  // background-image: url('/assets/img/card.png');
  // background-repeat: no-repeat;
  //   background-attachment: fixed;
  //   background-position: center;
  color: black;
  margin-top: -90px;
  margin-left: 21%;
  height: 100px;
  z-index: 1000;
  padding-top: 50px;
  width: 58%;
  position:relative
}

.progressBar {
  width: 58%;
  margin-left: 20%;
  margin-bottom: 7px;
  background: green;
}

label {
  background: green;
}

/* The slider itself */
input[type=range]{
  -webkit-appearance: none;
  border: none;

  &::-webkit-slider-runnable-track {
    width: 250px;
    height: 2px;
    background: #CCC;
    border: none;
    border-radius: 1px;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: green;
    margin-top: -7px;
  }
  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
      background: white;
    }
  }
}