h5 {
  color: white;
  text-align: right;
  width: 100%;
}
.modelBody{
    background-color: aqua;
}
.main-container {
  height: 20vh;
  max-height: 20vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline;
}
.card {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline;
  margin-right: 10px;
  border: black;
}

.cardd {
  display: inline;
  margin-right: 10px;
  border: black;
}

span{
  color: white;
}
.card img {
  height: 75px;
}
.cardd img {
  height: 75px;
}


#btnDone {
  float: right;
  display: none;
}

#btnDelete {
  float: left;
  display: none;
  margin-right: 20px;
}

.mainModelDIv {
  text-align: center;
}

.modelInputDiv{
  background: orange;
}
.mainModelDIv h5 {
  color: black;
  text-align: center;
}
