
<div id="homeContainer" class="container main-container" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
  <div class="cardd">
      <img id="demo" (click)="addBack()" class="navbar-img-logo" alt="Angular Logo" src="/assets/img/card-1.png" data-toggle="modal" data-target="#exampleModal">
  </div>
  <div class="scrolling-wrapper" id="scrolling-wrapper">
  <div class="card" *ngFor="let img of images; let i = index">
    <img id="caroselPic" (click)="saveName($event)" name="{{i}}" class="navbar-img-logo" alt="Angular Logo" src="{{ img }}">
 </div>
</div>
<br>
</div>
<div class="container">
<span type="text" name="Max" value="Max">Min images: </span>
  <span>{{minPicNumber}}</span>
  <button id="btnDone" type="button" class="btn btn-success btnDone">Done</button>
  <button id="btnDelete" (click)="fbDeleteItem()" type="button" class="btn btn-danger btnDone">Delete</button>
  <br>
  <span>Number of images: </span>
  <span>{{images.length}}</span>
</div>






